.sidebarItem:hover{
    -fx-background-color: #EFC88B;
    -fx-border-color: #CF5C36;
    -fx-border-width: 0px 0px 0px 3px;
}
.sidebar {
    -fx-background-color: #050517;
}

.sidebar .button {
    -fx-background-color: #EFC88b;
    -fx-background-radius: 0;
    -fx-text-fill: #000;
    -fx-padding: 10px;
}
