/* General Styles */
.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

/* Accordion Styles */
.accordion {
    -fx-background-color: #d3d5d7;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
}

.accordion .titled-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-padding: 0; /* No padding for the titled pane */
}

.accordion .titled-pane:hover {
    -fx-background-color: #f0f0f0; /* Highlight on hover */
}

.accordion .titled-pane .content {
    -fx-padding: 5px; /* Padding for content */
    -fx-wrap-text: true;  /* For text content */
}

.accordion .titled-pane .content * {
    -fx-max-width: Infinity;  /* For other nodes */
}

/* Text Styles */
.text {
    -fx-fill: #333;
}

/* Button Styles */
.button {
    -fx-background-color: #EFC88b;
    -fx-background-radius: 5px;
    -fx-text-fill: #000;
    -fx-padding: 10px;
}

.button:hover {
    -fx-background-color: #d3b77a; /* Lighter shade on hover */
}

/* Empty Message Styles */
.empty-message {
    -fx-text-fill: #ff0000; /* Red color for error messages */
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

/* ScrollPane styling */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* Vertical scrollbar styling */
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #f0f0f0;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #c0c0c0;
    -fx-background-radius: 5px;
}

/* Disable horizontal scrollbar completely */
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
}
